/* основные стили всей страницы*/
:root {
    --brandblack: #000000;
    --brandblue: #2196f3;
    --hoverblue: #188ce8;
    --textgrey: #757575;
    --textblack: #212121;
    --backgroundlight: #f5f4fa;
    --backgrounddark: #2f303a;
    --white-color: #ffffff;
    --bordercolor: #ececec;
    --mainspacer: 30px
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--textgrey);
    background-color: var(--white-color);
}

h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 1200px;
    padding-left: calc(var(--mainspacer)/2);
    padding-right: calc(var(--mainspacer)/2);
    margin: 0 auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.link {
    text-decoration: none;
}

.hand {
    cursor: pointer;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--textblack);
}

.hide {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    margin: -1px;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
}

.acent {
    color: var(--brandblue);
}

.logo,
.logo:focus,
.logo:hover {
        /* outline: 1px solid red; */
    /* margin-top: -32px;
    margin-bottom: -32px; */

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--brandblack);
    text-decoration: none;
}

/* header */

.header {
    font-weight: 500;
    letter-spacing: 0.02em;
    border-bottom: 1px solid var(--bordercolor);
    background-color: var(--white-color);
}

.header .container {
       /* outline: 1px solid red; */
    
    display: flex;
    height: 80px; /* добавил явный размер так как иначе не совпадает с макетом */
}

.header-nav {
        /* outline: 1px solid red; */
    display: flex;
    align-items: center;
}

.site-nav {
        /* outline: 1px solid red; */
    display: flex;
    margin-left: 93px;
}

.item + .item {
    margin-left: 50px;
}

.nav-link {
    color: var(--textblack);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--brandblue);
}

.site-contact {
        /* outline: 1px solid red; */
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contact-link {
    color: inherit;
}

/* .contact-link:hover,
.contact-link:focus {
    color: var(--brandblue);
} */

/* main */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    
    background-color: var(--backgrounddark);
    text-align: center;
}

.hero-slogan {
        /* outline: 1px solid red; */
    margin: auto;
    width: 670px;
    
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-btn {
        /* outline: 1px solid red; */
    margin-top: 30px;
    padding: 10px 32px;

    font-family: inherit;
    color: var(--white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: var(--brandblue);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--hoverblue);
}

/* benefits */

.benefits {
    padding-bottom: 0;
}

.benefits-list {
    display: flex;
    /* margin: 0; */
}

.benefits-item {
        /* outline: 1px solid red; */
    width: calc(100%/4-var(--mainspacer));
}

.benefits-item + .benefits-item {
    margin-left: var(--mainspacer);
}

.benefits-title {
        /* outline: 1px solid red; */    
    font-size: inherit;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--textblack);
}

.benefits-descr {
        /* outline: 1px solid red; */
    margin-top: 10px;
    height: 75px; /* добавил явный размер так как иначе не совпадает с макетом */
    
    line-height: 1.71;
}


/* occupation */

.occupation-list {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.occupation-img {
    display: block;
    max-width: 100%;
    height: auto;
}



/* team */

.team {
    background-color: var(--backgroundlight);
}

.team-list {
    display: flex;
    margin-top: 50px;
}

.team-member {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    background-color: var(--white-color);
}

.team-member + .team-member {
    margin-left: var(--mainspacer);
}

.member-photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.member-name {
    font-size: inherit;
    font-weight: 500;
    color: var(--textblack);
}

.member-position {
    margin-top: 10px;
}

.member-text {
    padding-top: 30px;
    padding-bottom: 30px;
}
/* footer */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--backgrounddark);
}

.footer-address {
    margin-top: 20px;
    font-style: inherit;
    line-height: 1.71;
}

.contact-item,
.contact-address {
    height: 21px; /* добавил явный размер так как иначе не совпадает с макетом */
}

.contact-item + .contact-item {
    margin-top: 9px;
}

.footer .logo,
.contact-address {
    color: var(--white-color);
}

.footer-contact .contact-link {
    color: rgba(255, 255, 255, 0.6);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--brandblue);
}

/* страница портфолио */

/* фильтр */

.projects-filter {
    display: flex;
    justify-content: center;
}

.filter-btn {
    /* outline: 1px solid red; */
    padding: 6px 22px;
    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--textblack);
    border: none;
    border-radius: 4px;
    background-color: var(--backgroundlight);
}

.filter-item + .filter-item {
    margin-left: 8px;
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--white-color);
    background-color: var(--brandblue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* галерея */

.projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.project {
    /* outline: 1px solid red; */
    margin-top: var(--mainspacer);
    margin-left: var(--mainspacer);
    width: 370px;
    border: 1px solid var(--bordercolor);
}

.project:nth-child(3n+1) {
    margin-left: 0;
}

.project-img {
    display: block;
    max-width: 100%;
    height: auto;
}

.project-text {
    padding: 20px 24px;
}

.project-name {
    /* outline: 1px solid red; */
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--textblack);
}

.project-type {
    /* outline: 1px solid red; */
    margin-top: 4px;
    font-size: 16px;
    line-height: 1.88;
}